*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    border: 2px solid red;
    height: 60vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;

    /*column-gap: 5px;
    row-gap: 5px; */

}

.container :nth-child(1){
    /*grid-column-start: 1;
    grid-column-end: 5; */
    grid-column: span 4;
}

.container :nth-child(2){
    grid-column: span 2;
}

.container :nth-child(3){
    grid-column: span 2;
    grid-row: span 2;
}

.container :nth-child(4){
    grid-column: span 2;
}

.container :nth-child(5){
    grid-column: span 5;
}

/*.container :nth-child(even){
    background-color: #ff0000;
    transition: all .4s ease-in;
    justify-self: end;
    align-self: self-end;
} */

/*.container :nth-child(even):hover{
    background-color: #ff0000;
    padding: 50%;
} */

/* .box5{
    background-color: red !important;
} */

.box{
    background-color: #8a2be2;
    border: 2px solid #0000ff;
    color: #fff;
    text-align: center;
}